table, th, td {
  border: 3px solid gray;
  border-collapse: collapse;
  text-align: center;
  border-spacing: 20px 10px;
  padding: 7px;

}
th, td {

  background-color: #84D1E8;
}
th{
  font-family: sans-serif;
  list-style-type: 1px;
}
td{
  font-family: serif;
}
tr:hover{
  background-color:lightgray;
}
tr:nth-child(even){
  background-color: lightgray;
}
